{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
        <div class="container">
            <div class="d-flex align-items-center row">
              <div class="col">
                <div class="text-center">
                    <h1>Welcome to WaitWise</h1>
                    <p>Your go-to solution for queue management across various industries.</p>
                    <a href="#" class="btn btn-primary">Get Started</a>
                </div>
              </div>
              <div class="col">
                <img src="https://images.unsplash.com/photo-1641982054052-e960dd7457e6?q=80&w=3872&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Queue" height="400" />
              </div>
            </div>
          </div>
        </div>
    
{% endblock %}
