{% extends 'layout.html' %}

{% block title %}
    Industries
{% endblock %}

{% block content %}
    <h1>Choose your Service 👇</h1><br>

    <div class="card mb-3" style="max-width:1500px ;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://img.freepik.com/free-vector/beauty-salon-concept-illustration_114360-6552.jpg" class="img-fluid rounded-start" alt="Salon" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Salon</h2>
              <p class="card-text">Indulge in a world of relaxation and beauty with the list of our Salons'.</p>
              <p>Browse our curated list of top salons to find the perfect spot for your next beauty or grooming appointment. Each listing includes details on services, prices, stylist expertise, and customer review making it easy to choose the salon that best suits your needs.</p>
              <p>Discover your next favorite salon with just a few clicks.</p>
              <p> Simplify your salon experience today.</p>
              <a href="/salons" class="btn btn-primary" style="background-color: #6610f2; border:#6610f2;">Check it now</a>
            </div>
          </div><hr>
          <div class="col-md-4">
            <img src="https://static.vecteezy.com/system/resources/previews/003/182/442/original/medical-clinic-web-illustration-vector.jpg" class="img-fluid rounded-start" alt="Clinic" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Clinic</h2>
              <p class="card-text">Discover a comprehensive list of clinics as per your healthcare needs. Explore detailed information on services, specializations, and patient reviews to find the right clinic for you. Make informed decisions and find quality care close to home.</p>
              <p>Book your appointment and enjoy stress-free healthcare today.</p>
              <p> Get the medical attention you need, without the hassle.</p>
              <a href="#" class="btn btn-primary" style="background-color: #6610f2; border:#6610f2;">Check it now</a>
            </div>
          </div><hr>
          <div class="col-md-4">
            <img src="https://static.vecteezy.com/system/resources/previews/010/200/089/non_2x/bank-building-with-money-tree-tiny-people-holds-gold-coins-near-government-finance-department-or-tax-office-column-building-vector.jpg" class="img-fluid rounded-start" alt="Bank" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h2 class="card-title">Bank</h2>
              <p class="card-text">Discover the best banking options for you with just a click.</p>
              <p>Explore a comprehensive list of banks with detailed information to help you choose the right one for your needs. From services offered to location details, find all the information you need to make an informed decision and streamline your banking experience.</p>
              <p>Experience smarter banking with less waiting and more doing.</p>
              <a href="#" class="btn btn-primary" style="background-color: #6610f2; border:#6610f2;">Check it now</a>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
