{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    User Login
{% endblock %}

{% block content %}
    <form class="form-with-validation w-50 mt-5 mx-auto shadow p-5" action="{% url 'Login' %}" method="post">
        <h1><center>User Login</center></h1>
        {% csrf_token %}
        {{ form|crispy }}
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button><br><br>
        <a href="{% url 'SignUp' %}">New User? Sign up here</a>
    </form>
{% endblock %}