{% extends 'layout.html' %}

{% block title %}
    List of Salons
{% endblock %}

{% block content %}
<h1>Here is our curated list of top salons 👇</h1>
<a href="#">
<div class="card w-auto mb-3">
  <div class="card-body">
    <h5 class="card-title">Faceline Beauty and Wellness Center </h5>
    <p class="card-text"></p> 
  </div>
</div>
</a>

<a href="#">
<div class="card w-auto">
  <div class="card-body">
    <h5 class="card-title">Salon2</h5>
    <p class="card-text"></p>
  </div>
</div>
</a>

<a href="#">
  <div class="card w-auto">
    <div class="card-body">
      <h5 class="card-title">Salon3</h5>
      <p class="card-text"></p>
    </div>
  </div>
  </a>
{% endblock %}
