.navbar{
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.navbar-brand{
    font-size: 50px;

}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;

}

.nav nav-pills .nav-item{
    display: block;
    padding-right: 0%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100%
  }

#id_honeypot {
    display: none;
}

#comments {
  border: 1px solid;
  padding: 10px;
  background-color: gainsboro;
}
